body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
}
.section {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
